#pixelContainer {
    display: grid;
    height: 700px;
    width: 700px;
}

.pxl {
    border: 1px solid black;
    transition-duration: 0.1s;  
    background-color: white;
}

.pxlBorderHide {
    border: none;
}

/*
.hovered {
    background-color: blueviolet;
}*/

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: antiquewhite;
}

#title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 64px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #223843;
}


#centerModule {
    display:flex;
    justify-content: flex-start;
    gap: 100px;
    margin-bottom: 80px;
}

.btnPressed {
    background-color: #223843;
    color: blanchedalmond;
    /*background-color: #424242;*/
}

#leftSide {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#rightSide {
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    transition-duration: 0.1s;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

button:hover {
    padding: 12px 15px;
}

#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 90px;
    height: 90px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 30px;
  }

  #colorPicker:hover {
    width: 92px;
    height: 92px;
  }
  

  #colorPicker::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }
  #colorPicker::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }

  /* The Box Size Slider Stuff */

.slideContainer {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.sliderText {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  color: #223843;
}

#slider {
    width: 500px;
    height: 25px;
}


  /*Slider Styling*/
  input[type=range] {
    height: 39px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: antiquewhite;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animation-duration: 0.2s;
    box-shadow: 1px 1px 2px #453823;
    background: #471323;
    border-radius: 4px;
    border: 2px solid #5D2E46;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #A6A6A6;
    border: 2px solid #5D2E46;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: #471323;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #471323;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animation-duration: 0.2s;
    box-shadow: 1px 1px 2px #453823;
    background: #471323;
    border-radius: 4px;
    border: 2px solid #5D2E46;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 2px #A6A6A6;
    border: 2px solid #5D2E46;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: #471323;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animation-duration: 0.2s; 
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #471323;
    border: 2px solid #5D2E46;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #453823;
  }
  input[type=range]::-ms-fill-upper {
    background: #471323;
    border: 2px solid #5D2E46;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #453823;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 2px #A6A6A6;
    border: 2px solid #5D2E46;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: #471323;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #471323;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #471323;
  }