#pixelContainer {
    display: grid;
    height: 800px;
    width: 800px;
}

.pxl {
    border: 1px solid black;
    transition-duration: 0.1s;  
}

.hovered {
    background-color: blueviolet;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#title {
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* The Box Size Slider Stuff */

.slidecontainer {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    width: 800px;
    height: 25px;
}

#centerModule {
    display:flex;
    justify-content: flex-start;
}

.eraserBtn {
    background-color: red;
}

.btnPressed {
    background-color: green;
}